mat-card{

    
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    width: 100%;
    height: 200px;
}
span{
    vertical-align:40%;
}
p{
    font-family: 'Montserrat',sans-serif;
   }
.conteiner{
    margin-top: 20px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Montserrat',sans-serif;
    background-color:#363636;
    
    
}

.con{
    font-size: 1.5rem;
    

}
@media (max-width:280px){

    
.conteiner p{

    font-size: 0.5rem ;
}
}