<div class="conteiner">
<p class="con"><strong>Contactos e Localização</strong></p>
        <hr style="height:1px;border-width:0;color:gray;background-color:	#FFD700">

   
    <p><a href="https://www.google.com/maps/place/25%C2%B058'08.8%22S+32%C2%B035'02.9%22E/@-25.969105,32.5819403,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d-25.969105!4d32.584129"> <i matTooltip="Pressione o icon para aceder a localização no Google Maps" class="large material-icons 6rem">location_on</i></a><span>Rua da Malhangalene, Nr- 74, R/C</span> </p>
    <hr style="height:2px;border-width:0;color:gray;background-color:	#FFD700">
  
   <p><i class="large material-icons 1rem" >contacts</i>
   <span> 827554785/840415438/ 822519074</span></p>

   <hr style="height:2px;border-width:0;color:gray;background-color:	#FFD700">
  
<p>  <i class="large material-icons 6rem">mail_outline</i><span>info@fornel.co.mz</span>   </p>
   

</div>