
<mat-toolbar class="footer">
    <mat-toolbar-row class="siga-nos">
       <span><strong> Siga-Nos</strong></span>
    </mat-toolbar-row>
    <mat-toolbar-row class="siga-nos">
        
      <div class="media">
        <a href="https://www.facebook.com/profile.php?id=100090221713883" id="cor" class="fa fa-facebook"></a>
        <a href="https://" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
      </div>    


    </mat-toolbar-row>
    <mat-toolbar-row class="contatos">
       <p> <span >   <strong>Contactos e Localização</strong></span></p>
    </mat-toolbar-row>
    <mat-toolbar-row class="contatos ">
       <p><a href="https://www.google.com/maps/"> 
        <i matTooltip="Pressione o icon para aceder a localização no Google Maps" class="large material-icons 6rem">location_on</i></a><span>
          Moçambique, Maputo  Bairro Cumbeza Nr 5195, Q 100 </span> </p>
    </mat-toolbar-row>
    <mat-toolbar-row class="contatos">
        <p><i class="large material-icons 1rem" >contacts</i>
          
            <span class="espacamento"> +258 863 676 000/876 463 000</span></p>
         
    </mat-toolbar-row>
<mat-toolbar-row class="contatos">
    <p> <a > <i class="large material-icons 6rem">mail_outline</i></a><span>Ecaconstrucoes@gmail.com</span>   </p>

 </mat-toolbar-row>   
    <mat-toolbar-row class="direitos">
    
    <span class="especial"><strong>
      Powered by ECA Construções, LDA. {{currentYear}}
    </strong> </span>
    
    </mat-toolbar-row>
    
</mat-toolbar>