
<div class="parceiros" >
  <h2>  <p><strong>Carteira de clientes
    </strong></p></h2>    
<owl-carousel-o [options]="customOptions"  >

    <ng-template carouselSlide ><img src="assets/Parceiros/aguas.jpg"></ng-template>  
    <ng-template carouselSlide><img src="assets/Parceiros/edm.jpg"></ng-template>  
    <ng-template carouselSlide><img src="assets/Parceiros/nes.jpg"></ng-template>  
    <ng-template carouselSlide><img src="assets/Parceiros/b.png"></ng-template>  
    
     </owl-carousel-o>



    </div>
