
<div class="caroussel">
  <p><strong>Ilustração dos serviços da ECA construções </strong></p>
<owl-carousel-o [options]="customOptions">
 
  
  
  <ng-template carouselSlide><img src="assets/C (1).jpg"></ng-template>  
  
  <ng-template carouselSlide><img src="assets/C (2).jpg"></ng-template>  
  
  <ng-template carouselSlide><img src="assets/C (3).jpg"></ng-template>  
  
  <ng-template carouselSlide><img src="assets/C (4).jpg"></ng-template>  
  
  <ng-template carouselSlide><img src="assets/C (5).jpg"></ng-template>  
  
  <ng-template carouselSlide><img src="assets/C (6).jpg"></ng-template>  
  
  <ng-template carouselSlide><img src="assets/C (7).jpg"></ng-template>  
  
  <ng-template carouselSlide><img src="assets/C (8).jpg"></ng-template>  
  
  <ng-template carouselSlide><img src="assets/C (9).jpg"></ng-template>  
  
  <ng-template carouselSlide><img src="assets/C (10).jpg"></ng-template>  
  
  <ng-template carouselSlide><img src="assets/C (11).jpg"></ng-template>  
  
  <ng-template carouselSlide><img src="assets/C (12).jpg"></ng-template>  
  
  <ng-template carouselSlide><img src="assets/C (13).jpg"></ng-template>  
  
  <ng-template carouselSlide><img src="assets/C (14).jpg"></ng-template>  
  


</owl-carousel-o>
</div>
