<div class="sobre">
      
        <mat-card class="c" >
            <mat-card-content class="arranjo">
              <h2><p><strong>Missão</strong></p></h2>
              <p class="justify">
                Construir edifícios de alta qualidade e
                 segurança, superando as expectativas dos nossos clientes, 
                 com a responsabilidade de contribuir para o desenvolvimento sustentável da comunidade.
               </p>
              
                          

</mat-card-content>
   
</mat-card>
 <mat-card class="c" >
  <mat-card-content class="arranjo"> 
  <h2><p><strong>Visão</strong></p></h2>
  <p class="left">
    Ser uma referência no setor da construção de edifícios, destacando-se
    pela excelência e inovação nos projetos, construção e serviços prestados, tornando-se líder de mercado.
  </p>  
</mat-card-content>
   </mat-card>
 
<mat-card class="c" >
<mat-card-content class="arranjo" >
  <h2><strong><p>Valores</p></strong>   </h2>
  <p class="left"> <i class="material-icons 1rem">chevron_right</i>Excelência</p>
  
  <p class="left"><i class="material-icons">chevron_right</i> Integridade
  </p>
  <p class="left"><i class="material-icons">chevron_right</i>Inovação,Comprometimento e Trabalho em equipe</p>
  </mat-card-content>


</mat-card>
</div>    

