
<div class="conteiner">
    
<mat-card  >
    <mat-card-header>
        <mat-card-title>
            Quem Somos
        </mat-card-title>
    </mat-card-header>
      <mat-card-content>
            <p >
                Somos uma empresa de Construção Civil , e temos 
interesse em apresentar os nossos Serviços . 
Possuímos Técnicos e mão de obra especializada 
e comprometida com o serviço. A nossa empresa 
está preparada para receber clientes de pequeno , 
médio e grande porte , oferecendo sempre a 
qualidade e uma solução inteligente e económica 
para quem queira construir ou reformar
                
            </p>
            
        </mat-card-content>
        


    </mat-card>

    <mat-card >
        <mat-card-header>
        
        <mat-card-title class="mat-card-title">
            O que fazemos e como fazemos
        </mat-card-title>
    </mat-card-header>
        <mat-card-content >
            <p class="left">
                Usamos da nossa experiencia no mercado, para prestar serviços do mais alto nível de higiene e segurança, pontualidade, confiabilidade, profissionalismo, qualidade e o bom gosto.
                 
                Disponibilizamos refeições a massa laboral nos seus locais de trabalho (Delivery incluso), tendo como principal objectivo a satisfação do cliente e geração de proveito.
                   
            
            
            </p>
    
            </mat-card-content>
        </mat-card>
    </div>