<mat-toolbar class="mat-elevation-z12">
  <div>
    <img src="assets/favicon.png" id="img" >
    </div>
    
    
        <mat-nav-list class="nav">
            <a mat-list-item href="#sobre" ><strong><p>SOBRE NÓS  </p></strong></a>
            
            <a mat-list-item href="#missao" ><strong><p>O QUE NOS GUIA</p></strong></a>
            <a mat-list-item href="#parceiros" ><strong> <p>CLIENTES</p></strong></a>
            <a mat-list-item href="#serv"><strong><p>LOCALIZAÇÃO</p></strong></a>
            <a mat-list-item href="#serv"><strong><p>CONTACTOS</p></strong></a>
        </mat-nav-list>
         
  </mat-toolbar>


  <div class="content">
 <div class="imgorganization"> 
<img src="assets/imagem.jpg"   class="app">
</div> 
<app-fornel id="sobre">
  
   
</app-fornel>

<app-carousel></app-carousel>
  
  <app-sobre id="missao"></app-sobre>
  
<!-- <app-parceiros id="parceiros"></app-parceiros> -->
<div class="mail">
  <app-email></app-email>
  
</div>

<app-footer id="serv"></app-footer>
    
</div>