   
   body::-webkit-scrollbar {
      width: 7px;               /* width of the entire scrollbar */
    }
    body::-webkit-scrollbar-track {
      background:white;        /* color of the tracking area */
    }
    body::-webkit-scrollbar-thumb {
      background-color:	#8a55fd;    /* color of the scroll thumb */
      border-radius: 5px;       /* roundness of the scroll thumb */
      border: 3px solid 	#8a55fd;  /* creates padding around scroll thumb */
    }
html, body { height: 100%; 
      width: 100% ;
      padding: 0;
      margin: 0%;
      line-height: 1.5;
      text-align:justify !important;
      word-wrap: break-word !important;
      font-family: 'Comfortaa', cursive;
      font-size: 14px;
   }

   .backgrou {
   background-size:cover;
   background-repeat: no-repeat;
   width: auto;
   height:auto;
   opacity: 0.5;
   
 }
 
 
 mat-card:hover{

      animation-name: cores;
      animation-duration: 2s;
      
      border-top: 10px solid 	#8a55fd;
  
  }
  
  mat-card{
      border-top: 5px solid #8a55fd;
   
  } 
  
  
  p{ 
   text-align:justify; 
   font-family: 'Comfortaa', cursive;
}

@media (max-width:260px) {
   html,body{ font-size: .8rem;
   }
}


@media (max-width:415px){

 
}
@media (max-width:415px){

   img{
    max-height: 30%;
    max-width: 100vw;
   }
   html,body{font-size: .9rem;

   }
}
@media(max-width:365px){
   html,body{
      width: 100%;
      height: 100%;

   }
}
@media (max-width:430px){

 html,body{
   font-size: 0.8rem;
   width: 100%;
   }
}
